<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Best Movies Page</title>

    <th:block th:replace="~{fragments :: styles}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{fragments :: header}"></th:block>

    <div class="container">
      <main>
        <h1>Best Movies</h1>
        <ul class="list-group">
          <li class="list-group-item" th:each="movie : ${movies}" th:text="${movie.toString}"></li>
        </ul>
      </main>
    </div>
  </body>
</html>
